In [165]:
import pandas as pd
import numpy as np
import os

In [166]:
#pip install pandas

In [167]:
# Helper Methods

def generate_column_info(df):
    cls = []
    nullCount = []
    nonNullCount = []
    nullsPct = []
    uniqCount = []
    dataType = []
    for i,col in enumerate(df.columns):
        cls.append(col)
        nullCount.append(df[col].isnull().sum())
        nonNullCount.append(len(df)-df[col].isnull().sum())
        nullsPct.append((df[col].isnull().sum())*(100)/len(df))
        uniqCount.append(df[col].nunique())
        dataType.append(df[col].dtype)
        
    column_info = pd.DataFrame(
        {'ColumnName': cls,
         'NullCount': nullCount,
         'NonNullCount': nonNullCount,
         'NullPercent': nullsPct,
         'UniqueValueCount': uniqCount,
         'DataType':dataType
        })
    return(column_info)

## Data

In [168]:
abbr_dict = {
    'flight_Liquefied Natural Gas ImpExp Equipment.xls':'LNG_IMEX',
    'flight_Liquefied Natural Gas Storage.xls':'LNG_STOR',
    'flight_Natural Gas Local Distribution Companies.xls':'NG_LDC',
    'flight_Natural Gas Processing.xls':'NG_PROC',
    'flight_Natural Gas TransmissionCompression.xls':'NG_COMP',
    'flight_Offshore Petroleum & Natural Gas Production.xls':'PROD_OFF',
    'flight_Onshore Natural Gas Transmission Pipelines.xls':'NG_PIPE',
    'flight_Onshore Petroleum & Natural Gas Gathering & Boosting.xls':'NG_GNB',
    'flight_Onshore Petroleum & Natural Gas Production.xls':'PROD_ON',
    'flight_Other Petroleum & Natural Gas Systems.xls':'ONG_OTH',
    'flight_Underground Natural Gas Storage.xls':'NG_STOR',
}

sub_sector_dict = {
    'NG_LDC':'NaturalGasDistribution',
    'PROD_OFF':'OffshoreProduction',
    'PROD_ON':'OnshoreProduction',
}

In [169]:
#pip install pyxlsb

## Facilities List

In [170]:
#directory_path = 'C://Users//shashank.bekal//PythonWorkArea//Jnana-Research//OKC-Facilities//files'
directory_path = './/files'
all_files = os.listdir(directory_path)
xls_files = [file for file in all_files if file.endswith('.xls')]

facilities_master_df = pd.DataFrame()
for file_name in xls_files:
    file_dict = pd.read_excel(f'.//files/{file_name}',sheet_name=None,skiprows=6)
    file_df = pd.concat(file_dict, ignore_index=True)
    file_df["Abbr"] = abbr_dict[file_name]
    #print((file_name))
    facilities_master_df = pd.concat([facilities_master_df,file_df])
#print('---')
print(len(facilities_master_df))

C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)

30781

C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\1785748913.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)

In [171]:
required_subsectors = ['PROD_OFF','PROD_ON']

# filter by 3 required subsectors
facilities_master_df = facilities_master_df[facilities_master_df['Abbr'].isin(required_subsectors)]
facilities_master_df['sub_sector'] = facilities_master_df['Abbr'].map(sub_sector_dict)
facilities_master_df = facilities_master_df.rename(columns={'GHG QUANTITY (METRIC TONS CO2e)':'FACILITY_WIDE_GHG_QUANTITY'})
facilities_master_df = facilities_master_df.rename(columns={'GHGRP ID':'facility_id','REPORTING YEAR':'reporting_year'})
facilities_master_df = facilities_master_df.drop(['FACILITY NAME','SUBPARTS'],axis=1)

In [172]:
#facilities_master_df['sub_sector'].value_counts()

In [173]:
generate_column_info(facilities_master_df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,reporting_year,0,8055,0.000000,13,object
1,facility_id,0,8055,0.000000,1149,object
2,REPORTED ADDRESS,1645,6410,20.422098,746,object
3,LATITUDE,0,8055,0.000000,786,float64
4,LONGITUDE,0,8055,0.000000,784,float64
5,CITY NAME,0,8055,0.000000,191,object
6,COUNTY NAME,5348,2707,66.393544,166,object
7,STATE,0,8055,0.000000,22,object
8,ZIP CODE,0,8055,0.000000,268,object
9,PARENT COMPANIES,42,8013,0.521415,1284,object
10,FACILITY_WIDE_GHG_QUANTITY,0,8055,0.000000,7878,object
11,Abbr,0,8055,0.000000,2,object
12,BASIN NAME/NUMBER,1670,6385,20.732464,43,object
13,sub_sector,0,8055,0.000000,2,object

## EPA Verified Facilities List

In [174]:
epa_ver_df = pd.read_excel('EPA_verified_facilities.xls',sheet_name=None,skiprows=6)
epa_ver_df = pd.concat(epa_ver_df, ignore_index=True)
epa_ver_df['REPORTING YEAR'] = epa_ver_df['REPORTING YEAR'].astype(int)
epa_ver_df['GHGRP ID'] = epa_ver_df['GHGRP ID'].astype(int)
epa_ver_df = epa_ver_df.rename(columns={'GHGRP ID':'facility_id','REPORTING YEAR':'reporting_year'})
epa_verified_unique_facilities_df = epa_ver_df[['facility_id', 'reporting_year']].drop_duplicates()
epa_verified_unique_facilities_df['EPA_verified'] = 1
epa_verified_unique_facilities_df

C:\Users\shankze\AppData\Local\Temp\ipykernel_6812\3647009640.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  epa_ver_df = pd.concat(epa_ver_df, ignore_index=True)

      facility_id  reporting_year  EPA_verified
0         1000355            2023             1
1         1014874            2023             1
2         1009238            2023             1
3         1009265            2023             1
4         1008287            2023             1
...           ...             ...           ...
7606      1009142            2011             1
7607      1008229            2011             1
7608      1008230            2011             1
7609      1008232            2011             1
7610      1009162            2011             1

[7611 rows x 3 columns]

## Facilities Metadata

In [175]:
# facilities_metadata_df = pd.read_csv('rlps_ghg_emitter_facilities.csv')
# facilities_metadata_df = facilities_metadata_df[['facility_id','year','epa_verified']]
# facilities_metadata_df

In [176]:
# facilities_metadata_df.columns

In [177]:
# facilities_metadata_df[facilities_metadata_df.duplicated(subset=['facility_id','year'])]

In [178]:
# facilities_master_df = pd.merge(facilities_master_df,facilities_metadata_df,how='left',left_on=['GHGRP ID','REPORTING YEAR'],right_on=['facility_id','year'])

In [179]:
# facilities_master_df

In [180]:
# facilities_master_df.columns

In [181]:
# generate_column_info(facilities_master_df)

## Combustion Sources

In [182]:
#emissions_by_unit_df = pd.read_excel('emissions_by_unit_and_fuel_type_c_d_aa.xlsx',engine="openpyxl", sheet_name="UNIT_DATA")
c_df = pd.read_excel('emissions_by_unit_and_fuel_type_c_d_aa.xlsx', sheet_name="UNIT_DATA",skiprows=6)
c_df['Reporting Year'] = c_df['Reporting Year'].astype(int)
c_df['Facility Id'] = c_df['Facility Id'].astype(int)
c_df = c_df.rename(columns={'Facility Id':'facility_id','Facility Name':'facility_name','Reporting Year':'reporting_year'})
c_df = c_df.rename(columns={'Unit Type':'reporting_category','Unit CO2 emissions (non-biogenic) ':'total_co2_emissions','Unit Methane (CH4) emissions ':'total_ch4_emissions'})
c_df = c_df.rename(columns={'Unit Nitrous Oxide (N2O) emissions ':'total_n2o_emissions'})
c_df = c_df.drop(columns=['Unit Reporting Method','City','Primary NAICS Code','FRS Id','Industry Type (subparts)','Industry Type (sectors)','Unit Biogenic CO2 emissions (metric tons)'])
c_df = c_df.rename(columns={'Unit Maximum Rated Heat Input Capacity (mmBTU/hr)':'maximum_rated_heat_input_capacity','State':'state'})
#c_df = c_df[c_df['reporting_category'].notna()]
c_df['subpart'] = 'SubpartC'
c_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']] = c_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']].fillna(0)
c_df

,facility_id,facility_name,state,reporting_year,Unit Name,reporting_category,maximum_rated_heat_input_capacity,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,subpart
0,1001155,1500 South Tibbs LLC d/b/a Aurorium Indianapol...,IN,2023,GP-1,NaN,91.8,64740.5,30.50,36.356,SubpartC
1,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.00,OCS (Other combustion source),30.0,3304.7,1.50,1.788,SubpartC
2,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.01,OCS (Other combustion source),30.0,0.2,0.00,0.000,SubpartC
3,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.02,OCS (Other combustion source),30.0,175.0,0.00,0.000,SubpartC
4,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2017,CP-03.00,OCS (Other combustion source),30.0,9106.1,4.25,5.066,SubpartC
...,...,...,...,...,...,...,...,...,...,...,...
268773,1003318,ZYBACH CRYOGENIC PLANT,TX,2015,GP-Zybach,OCS (Other combustion source),32.0,33757.8,16.00,19.072,SubpartC
268774,1003318,ZYBACH CRYOGENIC PLANT,TX,2014,GP-Zybach,OCS (Other combustion source),32.0,32901.2,15.50,18.476,SubpartC
268775,1003318,ZYBACH CRYOGENIC PLANT,TX,2013,GP-Zybach,OCS (Other combustion source),32.0,42700.7,20.25,24.138,SubpartC
268776,1003318,ZYBACH CRYOGENIC PLANT,TX,2012,GP-Zybach,OCS (Other combustion source),32.0,46840.7,22.00,26.224,SubpartC
268777,1003318,ZYBACH CRYOGENIC PLANT,TX,2011,GP-Zybach,OCS (Other combustion source),32.0,53482.2,25.25,30.098,SubpartC

# Emission Source

In [183]:
w_df = pd.read_csv('ef_w_emissions_source_ghg.csv',encoding = 'ISO-8859-1')
print(len(w_df))
w_df['reporting_year'] = w_df['reporting_year'].astype(int)
w_df['facility_id'] = w_df['facility_id'].astype(int)
w_df = w_df.drop(columns=['bamm_desc_source_summary','bamm_indicator_source_summary','industry_segment'], axis=1)
w_df = w_df.rename(columns={'total_reported_co2_emissions':'total_co2_emissions'})
w_df = w_df.rename(columns={'total_reported_ch4_emissions':'total_ch4_emissions'})
w_df = w_df.rename(columns={'total_reported_n2o_emissions':'total_n2o_emissions'})
w_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']] = w_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']].fillna(0)
w_df['total_ch4_emissions'] = w_df['total_ch4_emissions'] * 25
w_df['total_n2o_emissions'] = w_df['total_n2o_emissions'] * 298
w_df['subpart'] = 'SubpartW'
w_df

503060

,basin_associated_with_facility,facility_id,facility_name,reporting_category,reporting_year,total_ch4_emissions,total_co2_emissions,total_n2o_emissions,subpart
0,NaN,1003447,UGC - DRAGON TRAIL GAS PLANT - 08-103-00036,Enhanced Oil Recovery Hydrocarbon Liquids [98....,2016,0.00,0.0,0.0,SubpartW
1,NaN,1004777,Great Lakes Gas Transmission Pipeline Shevlin ...,Completions and Workovers with Hydraulic Fract...,2023,0.00,0.0,0.0,SubpartW
2,"220 - Gulf Coast Basin (LA, TX)",1009706,"SilverBow Resources, LLC - Basin 220",Completions and Workovers without Hydraulic Fr...,2020,0.00,0.0,0.0,SubpartW
3,NaN,1012154,580 - San Juan Basin Gathering/Boosting,Dehydrators [98.236(e)],2018,94270.75,1223.8,0.0,SubpartW
4,NaN,1004849,CONROE NATURAL GAS PROCESSING PLANT,Reciprocating Compressors [98.236(p)],2015,1825.50,4.4,0.0,SubpartW
...,...,...,...,...,...,...,...,...,...
503055,NaN,1005688,STATION #7 - MOUNTAINAIR CMP STN,Natural Gas Driven Pneumatic Pumps [98.236(c)],2018,0.00,0.0,0.0,SubpartW
503056,NaN,1007441,Eunice Gas Plant,Combustion Equipment at Onshore Petroleum and ...,2021,0.00,0.0,0.0,SubpartW
503057,395 - Williston Basin,1010002,Murex Petroleum Corporation - Williston Basin 395,Completions and Workovers without Hydraulic Fr...,2019,0.00,0.0,0.0,SubpartW
503058,NaN,1012624,Repsol Pipelines LLC - Eagle Ford,Onshore Production [98.236(aa)(1)],2016,0.00,0.0,0.0,SubpartW
503059,NaN,1013307,Callon Permian Basin Gathering and Boosting,Equipment Leaks Surveys and Population Counts ...,2021,3158.50,1.7,0.0,SubpartW

In [184]:
# #w_df[(w_df['reporting_year']==2022) & (w_df['facility_id']==1000435)]
# temp_df = w_df[(w_df['reporting_year']==2022) & (w_df['facility_id']==1000435)]#[['reporting_category','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]
# temp_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']] = temp_df[['total_co2_emissions','total_ch4_emissions','total_n2o_emissions']].fillna(0)
# temp_df['total_ghg_emissions'] = temp_df['total_co2_emissions'] + temp_df['total_ch4_emissions'] + temp_df['total_n2o_emissions']
# temp_df[['reporting_category','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]
# temp_df = temp_df[temp_df['total_ghg_emissions']>0]
# temp_df[['reporting_category','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]

## ConCat c_df and w_df

In [185]:
df = pd.concat([c_df,w_df], ignore_index=True)

In [186]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,771838,0.000000,9564,int64
1,facility_name,0,771838,0.000000,10447,object
2,state,503060,268778,65.176889,54,object
3,reporting_year,0,771838,0.000000,14,int64
4,Unit Name,503060,268778,65.176889,21995,object
5,reporting_category,9103,762735,1.179393,117,object
6,maximum_rated_heat_input_capacity,556592,215246,72.112542,6996,float64
7,total_co2_emissions,0,771838,0.000000,181252,float64
8,total_ch4_emissions,0,771838,0.000000,55506,float64
9,total_n2o_emissions,0,771838,0.000000,15814,float64
10,subpart,0,771838,0.000000,2,object
11,basin_associated_with_facility,615675,156163,79.767386,44,object

In [187]:
# df['total_ghg_emissions'] = df['total_co2_emissions'] + df['total_ch4_emissions'] + df['total_n2o_emissions']
# df = df[df['total_ghg_emissions']>0]

In [188]:
len(df)

771838

In [189]:
df[(df['facility_id']==1001727)&(df['reporting_year']==2023)]

,facility_id,facility_name,state,reporting_year,Unit Name,reporting_category,maximum_rated_heat_input_capacity,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,subpart,basin_associated_with_facility
27079,1001727,"Boomvang Spar, East Breaks 643 Platform",TX,2023,GP-DIE,NaN,7.52,884.1,1.00,2.086,SubpartC,NaN
27080,1001727,"Boomvang Spar, East Breaks 643 Platform",TX,2023,GP-NGE&NGT,NaN,61.42,28097.8,13.25,15.794,SubpartC,NaN
273019,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Equipment Leaks Surveys and Population Counts ...,NaN,0.0,0.00,0.000,SubpartW,NaN
276353,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Centrifugal Compressors [98.236(o)],NaN,0.0,0.00,0.000,SubpartW,NaN
322049,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Blowdown Vent Stacks [98.236(i)],NaN,0.0,0.00,0.000,SubpartW,NaN
381383,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Associated Gas Venting and Flaring [98.236(m)],NaN,0.0,0.00,0.000,SubpartW,NaN
397340,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Transmission Storage Tanks [98.236(k)],NaN,0.0,0.00,0.000,SubpartW,NaN
410006,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Natural Gas Driven Pneumatic Pumps [98.236(c)],NaN,0.0,0.00,0.000,SubpartW,NaN
410218,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Combustion Equipment at Onshore Petroleum and ...,NaN,0.0,0.00,0.000,SubpartW,NaN
426080,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Completions and Workovers without Hydraulic Fr...,NaN,0.0,0.00,0.000,SubpartW,NaN
455212,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Acid Gas Removal Units [98.236(d)],NaN,0.0,0.00,0.000,SubpartW,NaN
486021,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Enhanced Oil Recovery Hydrocarbon Liquids [98....,NaN,0.0,0.00,0.000,SubpartW,NaN
569803,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Dehydrators [98.236(e)],NaN,0.0,0.00,0.000,SubpartW,NaN
596274,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Enhanced Oil Recovery Injection Pumps [98.236(w)],NaN,0.0,0.00,0.000,SubpartW,NaN
596927,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Flare Stacks [98.236(n)],NaN,0.0,0.00,0.000,SubpartW,NaN
599844,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Onshore Production [98.236(aa)(1)],NaN,0.0,0.00,0.000,SubpartW,NaN
601883,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Offshore Petroleum and Natural Gas Production ...,NaN,5837.5,4057.00,26.224,SubpartW,NaN
669425,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Atmospheric Storage Tanks [98.236(j)],NaN,0.0,0.00,0.000,SubpartW,NaN
680935,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Facility Overview [98.236(aa)(2-11)],NaN,0.0,0.00,0.000,SubpartW,NaN
682757,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Natural Gas Pneumatic Devices [98.236(b)],NaN,0.0,0.00,0.000,SubpartW,NaN
736031,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Well Venting for Liquids Unloading [98.236(f)],NaN,0.0,0.00,0.000,SubpartW,NaN
740417,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Reciprocating Compressors [98.236(p)],NaN,0.0,0.00,0.000,SubpartW,NaN
753286,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Completions and Workovers with Hydraulic Fract...,NaN,0.0,0.00,0.000,SubpartW,NaN
753629,1001727,"Boomvang Spar, East Breaks 643 Platform",NaN,2023,NaN,Well Testing [98.236(l)],NaN,0.0,0.00,0.000,SubpartW,NaN

## Rename Reporting Category

In [190]:
reporting_category_names_df = pd.read_csv('reporting_categories.csv')
df = pd.merge(df, reporting_category_names_df, how='left',on=['reporting_category'])
df = df.drop('reporting_category',axis=1)
df = df.rename(columns={'REVISED_COLUMNNAME':'reporting_category'})

## validate before substitutions

In [191]:
# facilities_in_required_subsectors = facilities_master_df['facility_id'].unique()

# validation_before_sub_df = df
# validation_before_sub_df = validation_before_sub_df[validation_before_sub_df.facility_id.isin(facilities_in_required_subsectors)]

# validation_before_sub_df['total_ghg_emissions'] = validation_before_sub_df['total_co2_emissions'] + validation_before_sub_df['total_ch4_emissions'] + validation_before_sub_df['total_n2o_emissions']
# validation_before_sub_df = validation_before_sub_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]
# validation_before_sub_df=validation_before_sub_df.groupby(['facility_id','reporting_year']).sum().reset_index()
# validation_before_sub_df = pd.merge(validation_before_sub_df,facilities_master_df[['facility_id','reporting_year','FACILITY_WIDE_GHG_QUANTITY']],how='left',on=['facility_id','reporting_year'])

# validation_before_sub_df = validation_before_sub_df[validation_before_sub_df['FACILITY_WIDE_GHG_QUANTITY']>0]
# validation_before_sub_df['diff'] = (validation_before_sub_df['FACILITY_WIDE_GHG_QUANTITY']-validation_before_sub_df['total_ghg_emissions']).abs()
# validation_before_sub_df['diff_percent_GHG']=100*validation_before_sub_df['diff']/validation_before_sub_df['FACILITY_WIDE_GHG_QUANTITY']
# validation_before_sub_df.to_csv('validation_before_sub_df.csv', index=False)
# validation_before_sub_df

In [192]:
#validation_df[validation_df.diff_percent_GHG > 10]

## Concat Pneumatic Devices from detailed dataset

In [193]:
len(df[df.reporting_category == 'NG_PneumaticDevices'])

24595

In [194]:
df.columns

Index(['facility_id', 'facility_name', 'state', 'reporting_year', 'Unit Name',
       'maximum_rated_heat_input_capacity', 'total_co2_emissions',
       'total_ch4_emissions', 'total_n2o_emissions', 'subpart',
       'basin_associated_with_facility', 'reporting_category'],
      dtype='object')

In [195]:
# Drop Pneumatic Devices from original dataset
df = df[df.reporting_category != 'NG_PneumaticDevices']

# add them from this csv file
pneumatic_devices_df = pd.read_csv('ef_w_ngpneumatic_dev_units.csv')
pneumatic_devices_df = pneumatic_devices_df[['facility_id','reporting_year','facility_name','estimated_number_of_hours','pneumatic_device_type','total_count','pneum_device_type_tot_co2_emm','total_ch4_emissions']]
pneumatic_devices_df=pneumatic_devices_df.rename(columns={'pneumatic_device_type':'Unit Name','estimated_number_of_hours':'pneu_est_no_of_hours','total_count':'pneu_dev_total_count','pneum_device_type_tot_co2_emm':'total_co2_emissions'})
pneumatic_devices_df[['total_co2_emissions','total_ch4_emissions']] = pneumatic_devices_df[['total_co2_emissions','total_ch4_emissions']].fillna(0)
pneumatic_devices_df['total_ch4_emissions'] = pneumatic_devices_df['total_ch4_emissions'] * 25
pneumatic_devices_df['total_n2o_emissions'] = 0
pneumatic_devices_df['reporting_category'] = 'NG_PneumaticDevices'
pneumatic_devices_df['subpart'] = 'SubpartW'

df = pd.concat([df,pneumatic_devices_df], ignore_index=True)
df = df.drop(columns=['state'])

## Concat AssociatedGasVentingFlaring from detailed dataset

In [196]:
len(df[df.reporting_category == 'AssociatedGasVentingFlaring'])

22328

In [197]:
# Drop AssociatedGasVentingFlaring from original dataset
df = df[df.reporting_category != 'AssociatedGasVentingFlaring']

In [198]:
# add them from this csv file
venting_flaring_df = pd.read_csv('ef_w_associated_ng_units.csv')

In [199]:
venting_flaring_df[['basin_ag_flaring_co2_emissions','basin_ag_venting_co2_emissions','venting_ch4_emissions','flaring_ch4_emissions']] = venting_flaring_df[['basin_ag_flaring_co2_emissions','basin_ag_venting_co2_emissions','venting_ch4_emissions','flaring_ch4_emissions']].fillna(0)
venting_flaring_df['total_co2_emissions'] =  venting_flaring_df['basin_ag_flaring_co2_emissions'] + venting_flaring_df['basin_ag_venting_co2_emissions']
venting_flaring_df['total_ch4_emissions'] =  venting_flaring_df['venting_ch4_emissions'] + venting_flaring_df['flaring_ch4_emissions']
venting_flaring_df = venting_flaring_df.drop(['basin_ag_flaring_co2_emissions','basin_ag_venting_co2_emissions','venting_ch4_emissions','flaring_ch4_emissions'],axis=1)
venting_flaring_df = venting_flaring_df.rename(columns={'flaring_n2o_emissions':'total_n2o_emissions'})
venting_flaring_df[['total_n2o_emissions']] = venting_flaring_df[['total_n2o_emissions']].fillna(0)
venting_flaring_df['total_ch4_emissions'] = venting_flaring_df['total_ch4_emissions'] * 25
venting_flaring_df['total_n2o_emissions'] = venting_flaring_df['total_n2o_emissions'] * 298
venting_flaring_df['reporting_category'] = 'AssociatedGasVentingFlaring'
venting_flaring_df['subpart'] = 'SubpartW'
venting_flaring_df = venting_flaring_df.drop(['facility_name','industry_segment','wells_two_year_delay'], axis=1)
df = pd.concat([df,venting_flaring_df], ignore_index=True)

## Concat AtmosphericTanks from detailed dataset

In [200]:
len(df[df.reporting_category == 'AtmosphericTanks'])

22328

In [201]:
# Drop AssociatedGasVentingFlaring from original dataset
df = df[df.reporting_category != 'AtmosphericTanks']

In [202]:
# add them from this csv file
athmospheric_tanks_df = pd.read_csv('ef_w_atm_stg_tanks_calc1or2.csv')

In [203]:
athmospheric_tanks_df[['dump_valve_co2_emissions','flaring_co2_emissions','vapor_recovery_co2_emissions','venting_co2_emissions']] = athmospheric_tanks_df[['dump_valve_co2_emissions','flaring_co2_emissions','vapor_recovery_co2_emissions','venting_co2_emissions']].fillna(0)
athmospheric_tanks_df[['dump_valve_ch4_emissions','flaring_ch4_emissions','vapor_recovery_ch4_emissions','venting_ch4_emissions']] = athmospheric_tanks_df[['dump_valve_ch4_emissions','flaring_ch4_emissions','vapor_recovery_ch4_emissions','venting_ch4_emissions']].fillna(0)

athmospheric_tanks_df['total_co2_emissions'] =  athmospheric_tanks_df['dump_valve_co2_emissions'] + athmospheric_tanks_df['flaring_co2_emissions'] + athmospheric_tanks_df['vapor_recovery_co2_emissions'] + athmospheric_tanks_df['venting_co2_emissions']
athmospheric_tanks_df['total_ch4_emissions'] =  athmospheric_tanks_df['dump_valve_ch4_emissions'] + athmospheric_tanks_df['flaring_ch4_emissions'] + athmospheric_tanks_df['vapor_recovery_ch4_emissions']+athmospheric_tanks_df['venting_ch4_emissions'] 
athmospheric_tanks_df = athmospheric_tanks_df.rename(columns={'flaring_n2o_emissions':'total_n2o_emissions'})
athmospheric_tanks_df[['total_n2o_emissions']] = athmospheric_tanks_df[['total_n2o_emissions']].fillna(0)
athmospheric_tanks_df = athmospheric_tanks_df.drop(['dump_valve_co2_emissions','flaring_co2_emissions','vapor_recovery_co2_emissions','venting_co2_emissions'],axis=1)
athmospheric_tanks_df = athmospheric_tanks_df.drop(['dump_valve_ch4_emissions','flaring_ch4_emissions','vapor_recovery_ch4_emissions','venting_ch4_emissions'],axis=1)
athmospheric_tanks_df['total_ch4_emissions'] = athmospheric_tanks_df['total_ch4_emissions'] * 25
athmospheric_tanks_df['total_n2o_emissions'] = athmospheric_tanks_df['total_n2o_emissions'] * 298
athmospheric_tanks_df=athmospheric_tanks_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','annual_ch4_recovered','annual_co2_recovered','atmospheric_tank_count',
                                             'average_a_p_i_gravity','average_separator_pressure','average_separator_temperature',
                                             'hrs_dump_valves_did_not_close','not_on_well_pad_tank_count','num_seps_with_stuck_dump_val',
                                             'number_of_wells_send_oil','tanks_venting_to_atm','tanks_with_flaring','tanks_with_vapor_recovery',
'total_volume_of_oil']]
athmospheric_tanks_df['reporting_category'] = 'AtmosphericTanks'
athmospheric_tanks_df['subpart'] = 'SubpartW'

In [204]:
athmospheric_tanks_2_df = pd.read_csv('ef_w_atm_stg_tanks_calc3.csv')

athmospheric_tanks_2_df[['co2_emissions_from_flare','co2_emissions_not_flared','ch4_emissions_from_flare','ch4_emissions_not_flared']] = athmospheric_tanks_2_df[['co2_emissions_from_flare','co2_emissions_not_flared','ch4_emissions_from_flare','ch4_emissions_not_flared']].fillna(0)

athmospheric_tanks_2_df['total_co2_emissions'] =  athmospheric_tanks_2_df['co2_emissions_from_flare'] + athmospheric_tanks_2_df['co2_emissions_not_flared']
athmospheric_tanks_2_df['total_ch4_emissions'] =  athmospheric_tanks_2_df['ch4_emissions_from_flare'] + athmospheric_tanks_2_df['ch4_emissions_not_flared']
athmospheric_tanks_2_df = athmospheric_tanks_2_df.drop(['co2_emissions_from_flare','co2_emissions_not_flared','ch4_emissions_from_flare','ch4_emissions_not_flared'],axis=1)
athmospheric_tanks_2_df = athmospheric_tanks_2_df.rename(columns={'n2o_emissions_from_flare':'total_n2o_emissions'})
athmospheric_tanks_2_df[['total_n2o_emissions']] = athmospheric_tanks_2_df[['total_n2o_emissions']].fillna(0)
athmospheric_tanks_2_df['total_ch4_emissions'] = athmospheric_tanks_2_df['total_ch4_emissions'] * 25
athmospheric_tanks_2_df['total_n2o_emissions'] = athmospheric_tanks_2_df['total_n2o_emissions'] * 298
athmospheric_tanks_2_df=athmospheric_tanks_2_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions',
                                                 'annual_oil_throughput','atmospheric_tank_count','fract_oil_throughput_flaring',
                                                'fract_throughput_with_vapor','tanks_with_flares','tanks_without_flares',
                                                'wells_with_seps','wells_without_seps']]
athmospheric_tanks_2_df['reporting_category'] = 'AtmosphericTanks'
athmospheric_tanks_2_df['subpart'] = 'SubpartW'

In [205]:
df = pd.concat([df,athmospheric_tanks_df,athmospheric_tanks_2_df], ignore_index=True)
len(df)

814638

In [206]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,814638,0.000000,9564,int64
1,facility_name,73111,741527,8.974661,10447,object
2,reporting_year,0,814638,0.000000,14,int64
3,Unit Name,506920,307718,62.226412,21998,object
4,maximum_rated_heat_input_capacity,599392,215246,73.577712,6996,float64
5,total_co2_emissions,0,814638,0.000000,207055,float64
6,total_ch4_emissions,0,814638,0.000000,79052,float64
7,total_n2o_emissions,0,814638,0.000000,24956,float64
8,subpart,0,814638,0.000000,2,object
9,basin_associated_with_facility,680127,134511,83.488249,44,object
10,reporting_category,242236,572402,29.735416,26,object
11,pneu_est_no_of_hours,795279,19359,97.623607,3413,float64
12,pneu_dev_total_count,795263,19375,97.621643,2275,float64
13,average_gas_to_oil_ratio,808248,6390,99.215603,5509,float64
14,natural_gas_vented_or_flared,808248,6390,99.215603,2,object
15,number_of_wells_flaring,809813,4825,99.407712,495,float64
16,number_of_wells_venting,813021,1617,99.801507,151,float64
17,sub_basin_identifier,808248,6390,99.215603,571,object
18,table_desc,808248,6390,99.215603,1,object
19,table_num,808248,6390,99.215603,1,object
20,volume_of_gas_sent_to_sales,808262,6376,99.217321,3265,float64
21,volume_of_oil_produced,808262,6376,99.217321,5924,float64
22,annual_ch4_recovered,807625,7013,99.139127,4772,float64
23,annual_co2_recovered,807625,7013,99.139127,4265,float64
24,atmospheric_tank_count,788295,26343,96.766294,1342,float64
25,average_a_p_i_gravity,793284,21354,97.378713,6521,float64
26,average_separator_pressure,793285,21353,97.378836,4396,float64
27,average_separator_temperature,793285,21353,97.378836,3849,float64
28,hrs_dump_valves_did_not_close,812755,1883,99.768854,593,float64
29,not_on_well_pad_tank_count,799042,15596,98.085530,186,float64
30,num_seps_with_stuck_dump_val,812764,1874,99.769959,162,float64
31,number_of_wells_send_oil,799196,15442,98.104434,772,float64
32,tanks_venting_to_atm,801833,12805,98.428136,410,float64
33,tanks_with_flaring,800787,13851,98.299736,849,float64
34,tanks_with_vapor_recovery,807824,6814,99.163555,358,float64
35,total_volume_of_oil,793325,21313,97.383746,20454,float64
36,annual_oil_throughput,809659,4979,99.388808,4801,float64
37,fract_oil_throughput_flaring,809648,4990,99.387458,1536,float64
38,fract_throughput_with_vapor,809648,4990,99.387458,521,float64
39,tanks_with_flares,804702,9936,98.780317,399,float64
40,tanks_without_flares,786085,28553,96.495008,744,float64
41,wells_with_seps,811207,3431,99.578831,914,float64
42,wells_without_seps,811206,3432,99.578709,216,float64

In [207]:
df[(df['facility_id']==1001727) & df['reporting_year']==2023]

Empty DataFrame
Columns: [facility_id, facility_name, reporting_year, Unit Name, maximum_rated_heat_input_capacity, total_co2_emissions, total_ch4_emissions, total_n2o_emissions, subpart, basin_associated_with_facility, reporting_category, pneu_est_no_of_hours, pneu_dev_total_count, average_gas_to_oil_ratio, natural_gas_vented_or_flared, number_of_wells_flaring, number_of_wells_venting, sub_basin_identifier, table_desc, table_num, volume_of_gas_sent_to_sales, volume_of_oil_produced, annual_ch4_recovered, annual_co2_recovered, atmospheric_tank_count, average_a_p_i_gravity, average_separator_pressure, average_separator_temperature, hrs_dump_valves_did_not_close, not_on_well_pad_tank_count, num_seps_with_stuck_dump_val, number_of_wells_send_oil, tanks_venting_to_atm, tanks_with_flaring, tanks_with_vapor_recovery, total_volume_of_oil, annual_oil_throughput, fract_oil_throughput_flaring, fract_throughput_with_vapor, tanks_with_flares, tanks_without_flares, wells_with_seps, wells_without_seps]
Index: []

[0 rows x 43 columns]

## Create total_ghg_emissions column

In [208]:
df['total_ghg_emissions'] = df['total_co2_emissions'] + df['total_ch4_emissions'] + df['total_n2o_emissions']
df = df[df['total_ghg_emissions']>0]

In [209]:
len(df)

446390

In [210]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,446390,0.000000,9550,int64
1,facility_name,62592,383798,14.021819,10431,object
2,reporting_year,0,446390,0.000000,14,int64
3,Unit Name,169264,277126,37.918412,21539,object
4,maximum_rated_heat_input_capacity,241040,205350,53.997625,6937,float64
5,total_co2_emissions,0,446390,0.000000,207055,float64
6,total_ch4_emissions,0,446390,0.000000,79052,float64
7,total_n2o_emissions,0,446390,0.000000,24956,float64
8,subpart,0,446390,0.000000,2,object
9,basin_associated_with_facility,396485,49905,88.820314,44,object
10,reporting_category,113774,332616,25.487578,26,object
11,pneu_est_no_of_hours,428047,18343,95.890813,3398,float64
12,pneu_dev_total_count,428049,18341,95.891261,2273,float64
13,average_gas_to_oil_ratio,440498,5892,98.680078,5315,float64
14,natural_gas_vented_or_flared,440498,5892,98.680078,2,object
15,number_of_wells_flaring,441801,4589,98.971975,495,float64
16,number_of_wells_venting,445039,1351,99.697350,148,float64
17,sub_basin_identifier,440498,5892,98.680078,543,object
18,table_desc,440498,5892,98.680078,1,object
19,table_num,440498,5892,98.680078,1,object
20,volume_of_gas_sent_to_sales,440512,5878,98.683214,3079,float64
21,volume_of_oil_produced,440512,5878,98.683214,5693,float64
22,annual_ch4_recovered,439722,6668,98.506239,4533,float64
23,annual_co2_recovered,439722,6668,98.506239,4042,float64
24,atmospheric_tank_count,425626,20764,95.348462,947,float64
25,average_a_p_i_gravity,425626,20764,95.348462,6446,float64
26,average_separator_pressure,425627,20763,95.348686,4358,float64
27,average_separator_temperature,425627,20763,95.348686,3825,float64
28,hrs_dump_valves_did_not_close,444845,1545,99.653890,569,float64
29,not_on_well_pad_tank_count,431117,15273,96.578552,186,float64
30,num_seps_with_stuck_dump_val,444845,1545,99.653890,162,float64
31,number_of_wells_send_oil,431261,15129,96.610811,765,float64
32,tanks_venting_to_atm,433748,12642,97.167947,409,float64
33,tanks_with_flaring,432622,13768,96.915702,849,float64
34,tanks_with_vapor_recovery,439918,6472,98.550147,356,float64
35,total_volume_of_oil,425661,20729,95.356303,20089,float64
36,annual_oil_throughput,446390,0,100.000000,0,float64
37,fract_oil_throughput_flaring,446390,0,100.000000,0,float64
38,fract_throughput_with_vapor,446390,0,100.000000,0,float64
39,tanks_with_flares,438523,7867,98.237640,399,float64
40,tanks_without_flares,419870,26520,94.059007,739,float64
41,wells_with_seps,446390,0,100.000000,0,float64
42,wells_without_seps,446390,0,100.000000,0,float64
43,total_ghg_emissions,0,446390,0.000000,290221,float64

In [211]:
df[(df['reporting_year']==2022) & (df['facility_id']==1000435)][['reporting_category','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]

,reporting_category,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,total_ghg_emissions
446004,EquipmentLeaks,148.60000,40883.750,0.000,41032.35000
528241,CombustionEquipment,25656.00000,841.750,19.072,26516.82200
548113,ReciprocatingCompressors,0.70000,110.000,0.000,110.70000
563930,Dehydrators,3.50000,655.750,0.000,659.25000
617438,NG_PneumaticPumps,5.50000,1522.500,0.000,1528.00000
661048,WellVenting,3.00000,368.500,0.000,371.50000
712519,NG_PneumaticDevices,3.00000,811.750,0.000,814.75000
717056,NG_PneumaticDevices,1.90000,527.500,0.000,529.40000
729877,NG_PneumaticDevices,18.50000,5096.500,0.000,5115.00000
748196,AtmosphericTanks,0.02279,26.288,0.000,26.31079
758468,AtmosphericTanks,0.16541,29.048,0.000,29.21341
792909,AtmosphericTanks,1.32552,18.144,0.000,19.46952
799238,AtmosphericTanks,6.18576,84.672,0.000,90.85776
802372,AtmosphericTanks,6.92216,94.752,0.000,101.67416
806116,AtmosphericTanks,17.08448,233.856,0.000,250.94048

## Filter df to only required subsectors

In [212]:
facilities_in_required_subsectors = facilities_master_df['facility_id'].unique()
print(len(df))
df = df[df.facility_id.isin(facilities_in_required_subsectors)]
print(len(df))

446390
97613

## Join Facilities Metadata

In [213]:
df = pd.merge(df,facilities_master_df,how='left',on=['facility_id','reporting_year'])

In [214]:
# remove rows for facility ids which do not have an exact match for the facilityid-reporting year combination in the facilities
#master
df = df[df['sub_sector'].notnull()]#.groupby(['facility_id','reporting_year']).count().reset_index()

In [215]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,97353,0.000000,1148,object
1,facility_name,48593,48760,49.914230,1280,object
2,reporting_year,0,97353,0.000000,13,object
3,Unit Name,84760,12593,87.064600,448,object
4,maximum_rated_heat_input_capacity,91394,5959,93.878977,760,float64
5,total_co2_emissions,0,97353,0.000000,41346,float64
6,total_ch4_emissions,0,97353,0.000000,46650,float64
7,total_n2o_emissions,0,97353,0.000000,10886,float64
8,subpart,0,97353,0.000000,2,object
9,basin_associated_with_facility,62363,34990,64.058632,44,object
10,reporting_category,417,96936,0.428338,26,object
11,pneu_est_no_of_hours,90719,6634,93.185623,2775,float64
12,pneu_dev_total_count,90719,6634,93.185623,2133,float64
13,average_gas_to_oil_ratio,91461,5892,93.947798,5315,float64
14,natural_gas_vented_or_flared,91461,5892,93.947798,2,object
15,number_of_wells_flaring,92764,4589,95.286226,495,float64
16,number_of_wells_venting,96002,1351,98.612267,148,float64
17,sub_basin_identifier,91461,5892,93.947798,543,object
18,table_desc,91461,5892,93.947798,1,object
19,table_num,91461,5892,93.947798,1,object
20,volume_of_gas_sent_to_sales,91475,5878,93.962179,3079,float64
21,volume_of_oil_produced,91475,5878,93.962179,5693,float64
22,annual_ch4_recovered,93053,4300,95.583084,3031,float64
23,annual_co2_recovered,93053,4300,95.583084,2775,float64
24,atmospheric_tank_count,82258,15095,84.494571,891,float64
25,average_a_p_i_gravity,82258,15095,84.494571,5062,float64
26,average_separator_pressure,82259,15094,84.495598,3595,float64
27,average_separator_temperature,82259,15094,84.495598,3084,float64
28,hrs_dump_valves_did_not_close,96046,1307,98.657463,540,float64
29,not_on_well_pad_tank_count,82258,15095,84.494571,186,float64
30,num_seps_with_stuck_dump_val,96046,1307,98.657463,159,float64
31,number_of_wells_send_oil,82258,15095,84.494571,765,float64
32,tanks_venting_to_atm,88237,9116,90.636139,375,float64
33,tanks_with_flaring,87168,10185,89.538073,803,float64
34,tanks_with_vapor_recovery,93229,4124,95.763870,300,float64
35,total_volume_of_oil,82292,15061,84.529496,14757,float64
36,annual_oil_throughput,97353,0,100.000000,0,float64
37,fract_oil_throughput_flaring,97353,0,100.000000,0,float64
38,fract_throughput_with_vapor,97353,0,100.000000,0,float64
39,tanks_with_flares,90753,6600,93.220548,393,float64
40,tanks_without_flares,77658,19695,79.769499,736,float64
41,wells_with_seps,97353,0,100.000000,0,float64
42,wells_without_seps,97353,0,100.000000,0,float64
43,total_ghg_emissions,0,97353,0.000000,65657,float64
44,REPORTED ADDRESS,7688,89665,7.897035,745,object
45,LATITUDE,0,97353,0.000000,785,float64
46,LONGITUDE,0,97353,0.000000,783,float64
47,CITY NAME,0,97353,0.000000,191,object
48,COUNTY NAME,75422,21931,77.472702,166,object
49,STATE,0,97353,0.000000,22,object
50,ZIP CODE,0,97353,0.000000,268,object
51,PARENT COMPANIES,311,97042,0.319456,1281,object
52,FACILITY_WIDE_GHG_QUANTITY,0,97353,0.000000,7860,object
53,Abbr,0,97353,0.000000,2,object
54,BASIN NAME/NUMBER,7722,89631,7.931959,43,object
55,sub_sector,0,97353,0.000000,2,object

## Remove Rows with Null Reporting Category

In [216]:
#df['facility_id'] = df['facility_id'].astype('int')
#df['reporting_year'] = df['reporting_year'].astype('int')
#df[(df['facility_id']==1002685) & (df['reporting_year']==2023)]
df[df['reporting_category'].isna()]

,facility_id,facility_name,reporting_year,Unit Name,maximum_rated_heat_input_capacity,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,subpart,basin_associated_with_facility,...,LONGITUDE,CITY NAME,COUNTY NAME,STATE,ZIP CODE,PARENT COMPANIES,FACILITY_WIDE_GHG_QUANTITY,Abbr,BASIN NAME/NUMBER,sub_sector
0,1002685,AC 857 A,2023,GP- Perdido AC-857,249.36,165355.9,81.25,104.598,SubpartC,NaN,...,-94.897778,Offshore,NaN,TX,0,SHELL PETROLEUM INC (100%),180279,PROD_OFF,NaN,OffshoreProduction
28,1014643,"Argos, MMS Platform ID 02481, Complex ID 2665-1",2023,GP-1,81.00,25626.6,26.00,61.984,SubpartC,NaN,...,-90.365633,Offshore,NaN,LA,0,BP AMERICA INC (60.5%); BHP MINERALS INTERNATI...,134118,PROD_OFF,NaN,OffshoreProduction
29,1014643,"Argos, MMS Platform ID 02481, Complex ID 2665-1",2023,GP-2,83.00,75662.4,35.75,42.614,SubpartC,NaN,...,-90.365633,Offshore,NaN,LA,0,BP AMERICA INC (60.5%); BHP MINERALS INTERNATI...,134118,PROD_OFF,NaN,OffshoreProduction
42,1004233,"Atlantis, MMS Platform ID 02481, Complex ID 12...",2023,CP-1,306.00,189286.7,89.25,106.386,SubpartC,NaN,...,-90.026984,Offshore,NaN,LA,0,BP AMERICA INC (56%); BHP MINERALS INTERNATION...,256468,PROD_OFF,NaN,OffshoreProduction
43,1004233,"Atlantis, MMS Platform ID 02481, Complex ID 12...",2023,GP-1,215.00,3769.2,3.75,9.238,SubpartC,NaN,...,-90.026984,Offshore,NaN,LA,0,BP AMERICA INC (56%); BHP MINERALS INTERNATION...,256468,PROD_OFF,NaN,OffshoreProduction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40949,1009391,Apache Corporation - Permian Basin 430,2015,NaN,NaN,668.9,0.00,0.000,SubpartW,430 - Permian Basin,...,-102.086520,Houston,NaN,TX,77056,APACHE CORP (100%),233428,PROD_ON,430 - Permian Basin,OnshoreProduction
41518,1013216,SEP Permian Basin 430 Production,2023,NaN,NaN,39.4,0.00,0.000,SubpartW,430 - Permian Basin,...,-96.823258,Dallas,NaN,TX,75240,SCOUT ENERGY MANAGEMENT LLC (100%),39621,PROD_ON,430 - Permian Basin,OnshoreProduction
41562,1014413,Contango Basin 530,2023,NaN,NaN,0.1,0.00,0.000,SubpartW,530 - Wind River Basin,...,-95.364292,Houston,NaN,TX,77002,CONTANGO RESOURCES LLC (100%),32673,PROD_ON,530 - Wind River Basin,OnshoreProduction
42113,1008885,"Tellus Operating Group, LLC - MS Operations",2023,NaN,NaN,689.9,0.00,0.000,SubpartW,210 - Mid-Gulf Coast Basin,...,-90.153930,Ridgeland,NaN,MS,39157,TELLUS ENERGY GROUP LLC (100%),19532,PROD_ON,210 - Mid-Gulf Coast Basin,OnshoreProduction
42179,1009878,Iron Pennsylvania Land LLC,2016,NaN,NaN,250.9,51840.00,0.000,SubpartW,160A - Appalachian Basin (Eastern Overthrust A...,...,-80.128397,Waynesburg,NaN,PA,15370,PENNSYLVANIA LAND RESOURCES HOLDING CO LLC (100%),65760,PROD_ON,160A - Appalachian Basin (Eastern Overthrust A...,OnshoreProduction

In [217]:
df = df[df['reporting_category'].notnull()]

In [218]:
#df[df['reporting_category'].isna()]

## Filter rows based on EPA verified facility_id reporting_year list

In [219]:
#epa_verified_unique_facilities_df['EPA verified'] = 1
df = pd.merge(df,epa_verified_unique_facilities_df,how='left',on=['facility_id','reporting_year'])

In [220]:
#df = df[df['GHG FACILITY_WIDE_GHG_QUANTITY']>0]

## Validate GHG Quantity for facility and add diff_percent_GHG to df

In [221]:

validation_df = df
validation_df = validation_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','total_ghg_emissions']]
validation_df=validation_df.groupby(['facility_id','reporting_year']).sum().reset_index()
validation_df = pd.merge(validation_df,facilities_master_df[['facility_id','reporting_year','FACILITY_WIDE_GHG_QUANTITY']],how='left',on=['facility_id','reporting_year'])
validation_df['diff'] = (validation_df['FACILITY_WIDE_GHG_QUANTITY']-validation_df['total_ghg_emissions']).abs()
validation_df['diff_percent_GHG']=100*validation_df['diff']/validation_df['FACILITY_WIDE_GHG_QUANTITY']
validation_df.to_csv('output_validation.csv', index=False)
validation_df = validation_df[['facility_id','reporting_year','diff_percent_GHG']]
#validation_df[validation_df.diff_percent_GHG > 10]

In [222]:
df = pd.merge(df,validation_df,how='left',on=['facility_id','reporting_year'])

## Cleanup

In [223]:
#generate_column_info(df)

In [224]:
df=df.drop(['sub_basin_identifier','table_desc','table_num','average_gas_to_oil_ratio','average_a_p_i_gravity','average_separator_pressure','average_separator_temperature','fract_oil_throughput_flaring','fract_throughput_with_vapor','wells_with_seps','wells_without_seps','Abbr'],axis=1)

In [225]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,96936,0.000000,1148,object
1,facility_name,48593,48343,50.128951,1280,object
2,reporting_year,0,96936,0.000000,13,object
3,Unit Name,84519,12417,87.190517,447,object
4,maximum_rated_heat_input_capacity,91153,5783,94.034208,756,float64
5,total_co2_emissions,0,96936,0.000000,41175,float64
6,total_ch4_emissions,0,96936,0.000000,46642,float64
7,total_n2o_emissions,0,96936,0.000000,10884,float64
8,subpart,0,96936,0.000000,2,object
9,basin_associated_with_facility,62187,34749,64.152637,44,object
10,reporting_category,0,96936,0.000000,26,object
11,pneu_est_no_of_hours,90302,6634,93.156309,2775,float64
12,pneu_dev_total_count,90302,6634,93.156309,2133,float64
13,natural_gas_vented_or_flared,91044,5892,93.921763,2,object
14,number_of_wells_flaring,92347,4589,95.265949,495,float64
15,number_of_wells_venting,95585,1351,98.606297,148,float64
16,volume_of_gas_sent_to_sales,91058,5878,93.936205,3079,float64
17,volume_of_oil_produced,91058,5878,93.936205,5693,float64
18,annual_ch4_recovered,92636,4300,95.564084,3031,float64
19,annual_co2_recovered,92636,4300,95.564084,2775,float64
20,atmospheric_tank_count,81841,15095,84.427870,891,float64
21,hrs_dump_valves_did_not_close,95629,1307,98.651688,540,float64
22,not_on_well_pad_tank_count,81841,15095,84.427870,186,float64
23,num_seps_with_stuck_dump_val,95629,1307,98.651688,159,float64
24,number_of_wells_send_oil,81841,15095,84.427870,765,float64
25,tanks_venting_to_atm,87820,9116,90.595857,375,float64
26,tanks_with_flaring,86751,10185,89.493068,803,float64
27,tanks_with_vapor_recovery,92812,4124,95.745647,300,float64
28,total_volume_of_oil,81875,15061,84.462945,14757,float64
29,annual_oil_throughput,96936,0,100.000000,0,float64
30,tanks_with_flares,90336,6600,93.191384,393,float64
31,tanks_without_flares,77241,19695,79.682471,736,float64
32,total_ghg_emissions,0,96936,0.000000,65454,float64
33,REPORTED ADDRESS,7517,89419,7.754601,745,object
34,LATITUDE,0,96936,0.000000,785,float64
35,LONGITUDE,0,96936,0.000000,783,float64
36,CITY NAME,0,96936,0.000000,191,object
37,COUNTY NAME,75082,21854,77.455228,166,object
38,STATE,0,96936,0.000000,22,object
39,ZIP CODE,0,96936,0.000000,268,object
40,PARENT COMPANIES,311,96625,0.320830,1281,object
41,FACILITY_WIDE_GHG_QUANTITY,0,96936,0.000000,7860,object
42,BASIN NAME/NUMBER,7546,89390,7.784518,43,object
43,sub_sector,0,96936,0.000000,2,object
44,EPA_verified,8088,88848,8.343649,1,float64
45,diff_percent_GHG,0,96936,0.000000,8004,object

## Calculate facility totals

In [226]:
#df.columns

In [227]:
fac_total_df = df[['facility_id','reporting_year','maximum_rated_heat_input_capacity','pneu_dev_total_count','number_of_wells_flaring','number_of_wells_venting', 'volume_of_gas_sent_to_sales',
       'volume_of_oil_produced', 'annual_ch4_recovered',
       'annual_co2_recovered', 'atmospheric_tank_count',
       'hrs_dump_valves_did_not_close', 'not_on_well_pad_tank_count',
       'num_seps_with_stuck_dump_val', 'number_of_wells_send_oil',
       'tanks_venting_to_atm', 'tanks_with_flaring',
       'tanks_with_vapor_recovery', 'total_volume_of_oil',
       'annual_oil_throughput', 'tanks_with_flares', 'tanks_without_flares']]

In [228]:
fac_total_df = fac_total_df.groupby(['facility_id','reporting_year']).sum().reset_index()
# rename facility total columns
fac_total_df = fac_total_df.rename(columns=lambda x: x if x in fac_total_df.columns[:2] else x + "_facility_total")
df = pd.merge(df,fac_total_df,how='left',on=['facility_id','reporting_year'])

In [229]:
fac_avg_df = df[['facility_id','reporting_year','pneu_est_no_of_hours']]
fac_avg_df = fac_avg_df[fac_avg_df['pneu_est_no_of_hours'].notnull()]
fac_avg_df = fac_avg_df[fac_avg_df['pneu_est_no_of_hours']>0]
fac_avg_df = fac_avg_df.groupby(['facility_id','reporting_year']).mean().reset_index()
fac_avg_df = fac_avg_df.rename(columns={'pneu_est_no_of_hours':'pneu_est_no_of_hours_facility_mean'})
df = pd.merge(df,fac_avg_df,how='left',on=['facility_id','reporting_year'])

In [230]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,96936,0.000000,1148,object
1,facility_name,48593,48343,50.128951,1280,object
2,reporting_year,0,96936,0.000000,13,object
3,Unit Name,84519,12417,87.190517,447,object
4,maximum_rated_heat_input_capacity,91153,5783,94.034208,756,float64
...,...,...,...,...,...,...
62,total_volume_of_oil_facility_total,0,96936,0.000000,3250,float64
63,annual_oil_throughput_facility_total,0,96936,0.000000,1,float64
64,tanks_with_flares_facility_total,0,96936,0.000000,435,float64
65,tanks_without_flares_facility_total,0,96936,0.000000,857,float64
66,pneu_est_no_of_hours_facility_mean,22284,74652,22.988363,1910,float64

In [231]:
# Use average of non-zero for pneu_est_no_of_hours

In [232]:
df.to_csv('output.csv', index=False)

In [233]:
#AssociatedGasVentingFlaring

# AtmosphericTanks